{% extends "auctions/layout.html" %}

{% block body %}

    
    <div class="category-container">
        <div class="category-list">

            <ul class="list-group">

                {% for key, value in categories %}
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="height: 42px; padding: 5px 15px;">
                        <a href="/categories/{{key}}">{{ key }}&nbsp;&nbsp;</a>
                        <span class="badge badge-primary badge-pill">{{ value }}</span>
                    </li>
                {% endfor %}

                
               
              </ul>

            
        </div>
        <div class="category-right">
            <h1 style="text-align: center;">{{ category }}</h1>
            <div class="category-right-item">
                {% if display %}
                    {% for title in display %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/media/{{ title.image }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ title.title }}</h5>
                                <p class="card-text">Current bid: 
                                    {% if title.current_bid != 0 %} 
                                        <strong>${{title.current_bid}}</strong>
                                    {% else %}
                                        <strong>${{title.starting_bid}}</strong>
                                    {% endif %}
                                </p>
                                <a href="/listings/{{title.id}}" class="btn btn-primary">More details</a>
                            </div>
                        </div>
                        
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>
    </div>
    

    
{% endblock %}